:root {
  --main-bg-color: #fff;
  --primary-bg-color: pink;
  --secondary-color: #0e5a56;
  --font-color: #333;
  --font-family: "playwrite US Modern", cursive;
  --title-font-color: violet;
}
body {
  background-color: var(--primary-bg-color);
}
header {
  text-align: center;
  background: var(--secondary-color);
  color: #fff;
  padding: 10px;
}

h1 {
  font-family: var(--font-family);
}
h2 {
  font-size: 18px;
}
h3 {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--title-font-color);
}

p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: var(--font-color);
}
strong {
  color: red;
}

main {
  background-color: var(--main-bg-color);
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

ul {
  display: flex;
  font-size: 16px;
  margin-left: -50px;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 20px;
}

a {
  text-decoration: none;
  color: brown;
}

.order {
  text-align: center;
}

button {
  padding: 15px 30px;
  border-radius: 25px;
  color: white;
  background: var(--secondary-color);
  text-align: center;
  cursor: pointer;
  border: none;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

  li {
    padding: 10px;
  }

  main {
    max-width: 300px;
    padding: 15px;
    margin-top: 15px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 12px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}
